{% extends 'base.html.twig' %}

{% block title %}Édition message{% endblock %}

{% block body %}
    {{ form_start(vueFormulaireMessage) }}

    {{ form_row(vueFormulaireMessage.contenu) }}

    {{ form_end(vueFormulaireMessage) }}
{% endblock %}
