{% extends 'base.html.twig' %}

{% block title %}Topic spécifique{% endblock %}

{% block body %}
    Topic : {{ topic.titre }}

    <br>

    Créateur : {{ topic.createur.username }}

    <br> <br>

    Créé le : {{ topic.createdAt|date('d/m/Y') }}
    <br>
    Modifié le : {{ topic.updatedAt|date('d/m/Y') }}

    <br>
    Catégorie associée : {{ topic.categorie.titre }}

    <hr>

    Messages :
    <ul>
        {% for message in messages %}
            <li>
                {{ message.contenu|raw }}
            </li>
            Créé le {{ message.createdAt|date('d/m/Y à H:i:s') }} et modifié le {{ message.updatedAt|date('d/m/Y à H:i:s') }}
            par <b>{{ message.createur.username }}</b>
            <br>
            {% if app.user and message.createur.username is same as app.user.username %}
                <a href="{{ path('app_message_edit', {id: message.id}) }}">Modifier</a>
            {% endif %}
            <hr>
        {% endfor %}
    </ul>

    {% if app.user %}
        Ajouter un nouveau message :
        {{ form_start(vueFormulaireMessage) }}
            {{ form_row(vueFormulaireMessage.contenu) }}
        {{ form_end(vueFormulaireMessage) }}
    {% else %}
        <a href="{{ path('app_login') }}">Se connecter pour ajouter un message</a>
    {% endif %}
{% endblock %}
