{% extends 'base.html.twig' %}

{% block title %}Ajouter un topic à la catégorie{% endblock %}

{% block body %}
    Ajouter un nouveau topic :
    {{ form_start(vueFormulaireTopic) }}
            {{ form_row(vueFormulaireTopic.titre) }}

    <br>

    {{ form_row(vueFormulaireTopic.contenuPremierMessage) }}
        {{ form_end(vueFormulaireTopic) }}
{% endblock %}