{% extends 'base.html.twig' %}

{% block title %}Catégorie spécifique{% endblock %}

{% block body %}
    Catégorie : {{ categorie.titre }}

    <hr>

    Topics :
    <ul>
        {% for topic in topics %}
            {% if ( not app.user and not topic.prive ) or (app.user)  %}
                <li>
                    <a href="{{ path('app_topic', {id: topic.id}) }}">
                        {{ topic.titre }} créé par {{ topic.createur.username }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    {% if app.user %}
        <a href="{{ path('app_categorie_ajouter_topic', {id: categorie.id}) }}">Ajouter un nouveau topic</a>
    {% endif %}

    <hr>

    {% if sousCategories is not empty %}
        Sous-catégories :
        <table>
            <thead>
            <tr>
                <th>
                    Créateur
                </th>
                <th>
                    ID
                </th>
                <th>
                    Titre
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date de création
                </th>
                <th>
                    Date de modification
                </th>
            </tr>
            </thead>
            <tbody>
            {% for sousCategorie in sousCategories %}
                <tr>
                    <td>
                        {{ sousCategorie.createur.username }}
                    </td>
                    <td>
                        {{ sousCategorie.id }}
                    </td>
                    <td>
                        {{ sousCategorie.titre }}
                    </td>
                    <td>
                        {{ sousCategorie.description }}
                    </td>
                    <td>
                        {{ sousCategorie.createdAt|date('d/m/Y') }}
                    </td>
                    <td>
                        {{ sousCategorie.updatedAt|date('d/m/Y') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
