{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    {% if app.user %}
        <h4><a href="{{ path('app_logout') }}">Se déconnecter</a></h4>
    {% else %}
        <h4><a href="{{ path('app_login') }}">Se connecter</a></h4>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>
                    Créateur
                </th>
                <th>
                    ID
                </th>
                <th>
                    Titre
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date de création
                </th>
                <th>
                    Date de modification
                </th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categoriesPrincipales %}
                <tr>
                    <td>
                        {{ categorie.createur.username }}
                    </td>
                    <td>
                        {{ categorie.id }}
                    </td>
                    <td>
                        <a href="{{ path('app_categorie', {id: categorie.id}) }}">
                            {{ categorie.titre }}
                        </a>
                    </td>
                    <td>
                        {{ categorie.description }}
                    </td>
                    <td>
                        {{ categorie.createdAt|date('d/m/Y') }}
                    </td>
                    <td>
                        {{ categorie.updatedAt|date('d/m/Y') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
